body {
    font-family: 'Mansalva', cursive;
    font-family: 'Short Stack', cursive;
  }
  h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: green
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: blueviolet
  }
  .grid-container>div {
    text-align: center;
    font-size: 26px;
  }