body {
    font-family: 'Mansalva', cursive;
    font-family: 'Short Stack', cursive;
  }
  h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    color: green
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: blueviolet
  }
  .grid-container>div {
    text-align: center;
    font-size: 26px;
  }
  .game-grid-area {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: solid blue 5px;
    border-radius: 25px;
  }
  .box {
    height: 200px;
    width: 200px;
  }
  .time-left {
    display: flex;
    border: 4px solid blueviolet;
    height: 30px;
    width: 30px;
  }